*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 150px; 
    height: auto; 
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
    
}
.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
   
   
}
.nav-list li{
    list-style: none;
    padding: 70px 40px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    
    
}
.nav-list li a:hover{
    color: grey;
    padding-top: 10px;
}


.rightNav{
    width: 50%;
    text-align: right;
    padding: 0 23px;   
    
}
.rightNav img {
    width: 8%; 
    height:8%; 
}

.background{
    background-color:#4f6864;
    background-size: cover;
    background-blend-mode: darken;
   
}
.firstSection{
    height: 100vh;
}

.box-main{
  
  display:flex;
  align-items: center;
  margin:auto;
  justify-content: center;
  height:80%;
}
.image-stack--top{
    
    top:150px;
    left:0px;
    align-items: middle;
}
.image-stack--top img{
    width: 1519px; height: 450px;
    display:block;
    margin: auto;
}
.btn-sm{
    padding: 3px 5px;
    vertical-align: middle;
}

.section-2{
    height:300px;
    display:flex;
    align-items: center;
    justify-content:space-evenly ;
    margin:auto;
    background-color: #d5d3d3;
    
}
.section-3{
    height: 800px;
    display:flex;
    align-items: center;
    justify-content:space-evenly ;
    margin:auto;
    background-color:#566f6a;
    
}
.section-4{
    height: 300px;
    display:flex;
    align-items: center;
    justify-content:space-evenly ;
    margin:auto;
    background-color:#566f6a;

}
.section-5{
    height: 200px;
    width:auto;
    display:flex;
    align-items: center;
    justify-content:space-evenly ;
    
    margin:left -50%;
    margin:right -50%;
    background-color: #d5d3d3;
   

}
.section-6{
    background-color: #d5d3d3;
    height: 700px;
    
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row{
    display:flex;
  }
  .column{
    display:flex;
    padding: 5px;
  }
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
  .container{
    
    margin:auto;
  }
  .row{
    display: flex;
   
  }
  ul{
    list-style: none;

  }
 .footer{
    background-color:#566f6a;
    
 }
 .footer-col{
    width: 25%;
   

 }
 .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    position:relative;

 }
 .font-col h4::before{
    content:'';
    position: absolute;
    left:0;
    bottom: -10px;

 }
 .footer-col ul li:not(:last-child){
    margin-bottom:10px;

 }
 .footer-col ul li a{
    font-size: 16px;
    text-transform:capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

 }
 .footer-col ul li a:hover{
    color:#ffffff;
    padding-left: 8px;
 }
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width:40px;
    background-color: rgba(255,255,255,0.2);
    margin-right:10px ;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height:40px ;
    border-radius: 50%;
    color:#ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;

}
